.cardDesign{
    padding: 100px 40px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cardDiv{
    margin: 15px 40px;
    width: 600px;
}
