.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.containerStyle{
    margin: 12px 2px;
}

.FormContainer{
    width: 400px;
}

.filesInt{
    margin: -11px 2px 12px 2px;
}

.labelTextt{
    margin: 12px 2px;
}

.fontCustom{
    font-size:22px;
    text-align: center;
    width: 500px;
}

@media only screen and (max-width:600px){
    .fontCustom{
        width: 300px;
    }
}