.ImageDivBig{
    background-image: url("../assets/reef.png");
    height: 250px;
    width: 100%;
    position: relative;
}

.ImageProfile img{
    border: 2px solid snow;
    padding: 0;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: absolute;
    bottom:-60px;
    left: 42%;
}

.TabsDiv{
    margin-right: 40px;
}

.textContainer{
    text-align: center;
    margin: 62px 20px 0 0;
}

.HeadText{
    font-size: 32px;
    margin-right: 90px;
}

.descText{
    margin-right: 90px;
    margin-bottom: 25px;

}

.MainDivision{
    /* border-top: 2px solid black; */
    background-color: rgb(244, 244, 244);
}

.LinkDesign{
    display: flex;
    text-decoration: none;
}